.effect {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-perspective: 400;
  -moz-perspective: 400;
  -ms-perspective: 400;
  -o-perspective: 400;
  perspective: 400;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1em;
}
.effect:before, .effect:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform-origin: center center 50%;
  -moz-transform-origin: center center 50%;
  -ms-transform-origin: center center 50%;
  -o-transform-origin: center center 50%;
  transform-origin: center center 50%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  content: attr(data-effect);
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.effect.slide-up {
  color: transparent;
}
.effect.slide-up:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.slide-up:after {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 1em;
}
.effect.slide-up:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-top: -1em;
}
.effect.slide-up:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-top: 0;
}
.effect.slide-down {
  color: transparent;
}
.effect.slide-down:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.slide-down:after {
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1em;
}
.effect.slide-down:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-top: 1em;
}
.effect.slide-down:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-top: 0;
}
.effect.slide-left {
  color: transparent;
}
.effect.slide-left:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.slide-left:after {
  color: rgba(255, 255, 255, 0.9);
  margin-left: -1em;
}
.effect.slide-left:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-left: 1em;
}
.effect.slide-left:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-left: 0;
}
.effect.slide-right {
  color: transparent;
}
.effect.slide-right:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.slide-right:after {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 1em;
}
.effect.slide-right:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  margin-left: -1em;
}
.effect.slide-right:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-left: 0;
}

.effect.twirl-left {
  color: transparent;
}
.effect.twirl-left:before, .effect.twirl-left:after {
  -webkit-transform-origin: center top 50%;
  -moz-transform-origin: center top 50%;
  -ms-transform-origin: center top 50%;
  -o-transform-origin: center top 50%;
  transform-origin: center top 50%;
}
.effect.twirl-left:before {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.twirl-left:after {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  color: rgba(255, 255, 255, 0.9);
}
.effect.twirl-left:hover:before {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.effect.twirl-left:hover:after {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.effect.twirl-right {
  color: transparent;
}
.effect.twirl-right:before, .effect.twirl-right:after {
  -webkit-transform-origin: center top 50%;
  -moz-transform-origin: center top 50%;
  -ms-transform-origin: center top 50%;
  -o-transform-origin: center top 50%;
  transform-origin: center top 50%;
}
.effect.twirl-right:before {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.twirl-right:after {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  color: rgba(255, 255, 255, 0.9);
}
.effect.twirl-right:hover:before {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.effect.twirl-right:hover:after {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.effect.pulse-normal {
  color: transparent;
}
.effect.pulse-normal:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.pulse-normal:after {
  -webkit-transition: all 0.2s ease-out, -webkit-transform 0.2s cubic-bezier(0.1, 1.5, 0.21, 1);
  -moz-transition: all 0.2s ease-out, -moz-transform 0.2s cubic-bezier(0.1, 1.5, 0.21, 1);
  -o-transition: all 0.2s ease-out, -o-transform 0.2s cubic-bezier(0.1, 1.5, 0.21, 1);
  transition: all 0.2s ease-out, transform 0.2s cubic-bezier(0.1, 1.5, 0.21, 1);
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  color: rgba(255, 255, 255, 0.9);
}
.effect.pulse-normal:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.effect.pulse-normal:hover:after {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.effect.pulse-heavy {
  color: transparent;
}
.effect.pulse-heavy:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
.effect.pulse-heavy:after {
  -webkit-transition: all 0.2s ease-out, -webkit-transform 0.2s cubic-bezier(0.1, 2.2, 0.21, 1);
  -moz-transition: all 0.2s ease-out, -moz-transform 0.2s cubic-bezier(0.1, 2.2, 0.21, 1);
  -o-transition: all 0.2s ease-out, -o-transform 0.2s cubic-bezier(0.1, 2.2, 0.21, 1);
  transition: all 0.2s ease-out, transform 0.2s cubic-bezier(0.1, 2.2, 0.21, 1);
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
  color: rgba(255, 255, 255, 0.9);
}
.effect.pulse-heavy:hover:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.effect.pulse-heavy:hover:after {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
