.effect {
  &.background-center {
    color: transparent;

    &:before {
      @include opacity(1);
      color: $normal;
      z-index: 1;
    }

    &:after {
      background: $hover;
      color: transparent;
      top: -10%;
      left: 50%;
      width: 0%;
      height: 120%;
      overflow: hidden;
    }

    &:hover {
      &:after {
        @include opacity(1);
        left: -10%;
        width: 120%;
        z-index: 0;
      }
    }
  }

  &.background-left {
    color: transparent;

    &:before {
      @include opacity(1);
      color: $normal;
      z-index: 1;
    }

    &:after {
      background: $hover;
      color: transparent;
      top: -10%;
      left: -10%;
      width: 0%;
      height: 120%;
      overflow: hidden;
    }

    &:hover {
      &:after {
        @include opacity(1);
        width: 120%;
        z-index: 0;
      }
    }
  }

  &.background-right {
    color: transparent;

    &:before {
      @include opacity(1);
      color: $normal;
      z-index: 1;
    }

    &:after {
      background: $hover;
      color: transparent;
      top: -10%;
      right: -10%;
      left: auto;
      width: 0%;
      height: 120%;
      overflow: hidden;
    }

    &:hover {
      &:after {
        @include opacity(1);
        width: 120%;
        z-index: 0;
      }
    }
  }

  &.background-bottom {
    color: transparent;

    &:before {
      @include opacity(1);
      color: $normal;
      z-index: 1;
    }

    &:after {
      background: $hover;
      color: transparent;
      top: auto;
      bottom: -10%;
      left: -10%;
      width: 120%;
      height: 0%;
      overflow: hidden;
    }

    &:hover {
      &:after {
        @include opacity(1);
        height: 120%;
        z-index: 0;
      }
    }
  }
}