.effect {
  &.box-fill {
    @include transition(all .3s ease-out);
    @include box-shadow(inset 0 0 0 0 $normal);
    border: solid 2px $normal;
    padding: 6px 10px;

    &:hover {
      @include box-shadow(inset 0 0 1px 20px $normal);
      color: $hover;
    }
  }

  &.box-fill-left {
    border: solid 2px $normal;
    padding: 6px 10px;

    &:after {
      @include opacity(1);
      top: 0;
      left: 0;
      right: 100%;
      bottom: 0;
      color: transparent;
      background: $normal;
      z-index: -1;
    }

    &:hover {
      color: $hover;

      &:after {
        right: 0;
      }
    }
  }

  &.box-fill-right {
    border: solid 2px $normal;
    padding: 6px 10px;

    &:after {
      @include opacity(1);
      top: 0;
      left: 100%;
      right: 0;
      bottom: 0;
      color: transparent;
      background: $normal;
      z-index: -1;
    }

    &:hover {
      color: $hover;

      &:after {
        left: 0;
      }
    }
  }

  &.box-fill-center {
    border: solid 2px $normal;
    padding: 6px 10px;

    &:after {
      @include opacity(1);
      top: 0;
      left: 50%;
      margin-left: 0%;
      bottom: 0;
      width: 0%;
      color: transparent;
      background: $normal;
      z-index: -1;
    }

    &:hover {
      color: $hover;

      &:after {
        margin-left: -50%;
        width: 100%;
      }
    }
  }

  &.box-fill-skew {
    border: solid 2px $normal;
    padding: 6px 10px;
    overflow: hidden;

    &:after {
      @include skewX(45deg);
      @include opacity(1);
      top: 0;
      left: 50%;
      margin-left: 0%;
      bottom: 0;
      width: 0%;
      color: transparent;
      background: $normal;
      z-index: -1;
    }

    &:hover {
      color: $hover;

      &:after {
        margin-left: -50%;
        width: 100%;
      }
    }
  }

  &.box-slide-left {
    border: solid 2px $normal;
    padding: 6px 10px;
    overflow: hidden;
    color: transparent;

    &:before, &:after {
      @include opacity(1);
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      color: $normal;
      padding: 6px 0px;
      text-align: center;
    }

    &:after {
      background: $normal;
      left: 100%;
      z-index: 10;
      color: $hover;
    }

    &:hover {
      &:before {
        color: transparent;
      }

      &:after {
        left: 0%;
      }
    }
  }

  &.box-slide-right {
    border: solid 2px $normal;
    padding: 6px 10px;
    overflow: hidden;
    color: transparent;

    &:before, &:after {
      @include opacity(1);
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      color: $normal;
      padding: 6px 0px;
      text-align: center;
    }

    &:after {
      background: $normal;
      left: -100%;
      z-index: 10;
      color: $hover;
    }

    &:hover {
      &:before {
        color: transparent;
      }

      &:after {
        left: 0%;
      }
    }
  }

  &.box-slide-up {
    border: solid 2px $normal;
    padding: 6px 10px;
    overflow: hidden;
    color: transparent;

    &:before, &:after {
      @include opacity(1);
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      color: $normal;
      padding: 6px 0px;
      text-align: center;
    }

    &:after {
      background: $normal;
      top: 100%;
      z-index: 10;
      color: $hover;
    }

    &:hover {
      &:before {
        color: transparent;
      }

      &:after {
        top: 0%;
      }
    }
  }
}